@mixin items-per-row($per-row, $margin){
   width: calc(#{100% / $per-row} - #{($margin * ($per-row - 1) / $per-row)});
   margin-right: $margin;
   margin-bottom: $margin;
   &:nth-of-type(#{$per-row}n){
      margin-right: 0;
   }
}

@mixin no-select(){ 
    -webkit-touch-callout: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
 
@mixin user-select($val){
    -moz-user-select: $val;
    -ms-user-select: $val;
    -webkit-user-select: $val;
    user-select: $val;
}
 
@mixin ellipsis{
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
@mixin no-drag{
    user-drag: none; 
    -webkit-user-drag: none;
}

@mixin selection($background, $foreground){
    &::-moz-selection {
      color: $foreground;
      background-color: $background;
    }
    &::selection {
      color: $foreground;
      background-color: $background;
    }
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@mixin icon-button($fa-unicode) {
   width: 34px;
   &:after {
      font-family: "FontAwesome";
      content: $fa-unicode;
   }
}